/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 9px;
    color: #3b3737;
}

/* the end Reset and base styles  */

/* container */
.container {
    min-width: 340px;

}


/* header */
.header {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #f4c1f8;
    height: 50px;
}

/* mobil menu start */
/* This is kind of a styled trigger here  */
#menuToggle {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: -7px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*This is the Menu part, which gets triggered by toggle*/

#mobilmenu {
    position: absolute;
    width: 120vw;
    height: 1000vw;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #f4c1f8;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    text-align: center;
}

#mobilmenu li {
    padding: 15px 0;
    color: #3b3737;
    list-style-type: none;
    font-size: 2em;
    font-weight: 300;
}

#mobilmenu li a {
    color: #3b3737;
    text-decoration: none;
    text-transform: uppercase;
}

#mobilmenu li a:hover {
    color: #e159eb;
    text-decoration: none;
}

#menuToggle input:checked~ul {
    transform: scale(1, 1);
    opacity: 1;
}

/* mobil menu the end */
/* search */
.header__container-search {

    position: relative;
    box-sizing: border-box;
    width: fit-content;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__mainbox-search {
    position: relative;
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgb(238, 229, 239);
    transition: all 0.3s ease;
}

.checkbox-search:focus {
    border: none;
    outline: none;
}

.checkbox-search:checked {
    right: 10px;
}

.checkbox-search:checked~.header__mainbox-search {
    width: 0;
    height: 0px;
    display: none;
}

.checkbox-search:checked~.header__mainbox-search.header__iconContainer-search {
    padding-right: 8px;
}

.checkbox-search {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    z-index: 9;
    cursor: pointer;
    appearance: none
}

.header__search-input {
    height: 100%;
    width: 100px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 1em;
    color: #3b3737;
    transition: all 0.3s ease;
}

.header__search-input::placeholder {
    color: rgba(32, 30, 32, 0.776);
}

.header__iconContainer-search {
    fill: #000;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
}

.header__search_icon {
    margin-right: 40px;
    width: 20px;
    height: 20px;
    fill: rgb(19, 19, 19);
    font-size: 1.3em;
}